* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}
#root {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.box-image {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background-color: red;
  width: 80px;
  padding: 5px;
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.heading {
  font-size: 32px;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.sub-heading {
  font-size: 22px;
  font-weight: 400;
  /* padding: 10px; */
  color: rgb(116, 116, 116);
}
/* Cards which hold all value */
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 30px;
}

/* Cards with Images */
.cards {
  background-color: rgb(233, 225, 225);
  display: flex;
  width: 300px;
  min-height: 300px;
  /* justify-content: center; */
  padding: 10px;
  margin-bottom: 10px;
}
.cards:hover {
  margin-bottom: 20px;
  margin-top: -10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgb(129, 129, 129);
}
.inner-div {
  background-color: white;
  /* border-radius: 30px; */
  text-align: left;
}
.image-holder {
  background-color: blanchedalmond;
  height: 200px;
  background-image: url("./image/city.jpeg");
  background-size: 100% 100%;
  /* border-radius: 30px 30px 0 0; */
  position: relative;
}
.div-heading {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 5px;
}
.para {
  padding: 5px 30px 20px 20px;
  font-size: 10px;
  color: rgb(116, 116, 116);
}
.div-sub-heading {
  color: red;
  font-weight: 400;
  padding-left: 20px;
  font-size: 13px;
}
.header {
  background-color: rgb(255, 255, 255);
}
.time {
  width: 40px;
  height: 40px;
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
}
.comments img {
  width: 16px;
  height: 16px;
}
.comments {
  display: inline;
  color: rgb(116, 116, 116);
  margin-left: 20px;
  font-size: 12px;
  /* border: 1px solid gray; */
  padding: 4px;
  background-color: bisque;
  float: right;
  margin-right: 20px;
  margin-bottom: 2px;
}
.timeUpdate {
  display: inline;
  font-size: 12px;
  padding: 0 0 10px 20px;
  color: rgb(116, 116, 116);
}
